<!DOCTYPE html>
<html>
  <head>
    <title>Animal's Wonderland</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      &nbsp;|&nbsp
      <a href="/zones">Zone Map</a>
    </nav>