<!DOCTYPE html>
<html>
  <head>
    <title>Animal's Wonderland</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div>
        <a href="/">Home</a>
        &nbsp;|&nbsp
        <a href="/zones">Zone Map</a>
      </div>
    <div>
      <% if(user) { %>
        <div id="auth">
          (<strong><%= user.userName %></strong>)
        <a href="/logout">LOG OUT</a>
        </div>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
      </div>
    </nav>