<%- include('../partials/header') %>
    <h1><%= animal.name %></h1>
    <div>
        <% shows.forEach(function(show){ %>
            <div>
                <%= show.name %>
            </div>
        <% }) %>
    </div>
    
    
    
<%- include('../partials/footer') %>