<%- include('../partials/header') %>
    <h1><%= show.name %></h1>
    <h2>About this show</h2>
    <div>
        <%= show.description %>
    </div>
    <% if(user) { %>
        <h3>Book this show</h3>
    <% } else { %>
        <h3>Please log in to make your booking</h3>
    <% } %>
<%- include('../partials/footer') %>