<%- include('../partials/header') %>
    <div><a href="/zones/African Animals">African Animals</a></div>
    <div><a href="/zones/Australian Animals">Australian Animals</a></div>
    <div><a href="/zones/Mountain Animals">Mountain Animals</a></div>
    <div><a href="/zones/Aquatic Animals">Aquatic Animals</a></div>
    <div><a href="/zones/Animals in Cold Region">Animals in Cold Regions</a></div>
    
<%- include('../partials/footer') %>