<%- include('../partials/header') %>
<div class="zones-container">    
<div class="zones">    
        <div class="zone"><a href="/zones/African Animals">African Animals</a></div>
        <div class="zone"><a href="/zones/Australian Animals">Australian Animals</a></div>
    </div>
    <div class="zones">
        <div class="zone"><a href="/zones/Mountain Animals">Mountain Animals</a></div>
    </div>
    <div class="zones">
        <div class="zone"><a href="/zones/Aquatic Animals">Aquatic Animals</a></div>    
        <div class="zone"><a href="/zones/Animals in Cold Region">Animals in Cold Regions</a></div>
    </div> 
</div>  
<%- include('../partials/footer') %>