<%- include('./partials/header') %>
    <div><a>African Animals</a></div>
    <div><a>Australian Animals</a></div>
    <div><a>Mountain Animals</a></div>
    <div><a>Aquatic Animals</a></div>
    <div><a>Animals in Cold Regions</a></div>
    
<%- include('./partials/footer') %>