body {
  box-sizing: border-box;
  height: 100vh;
  padding: 50px;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
  color: var(--main-text-colour);
}

:root {
  --main-panel-colour: #739072;
  --main-text-colour: #4F6F52;
  --light-bg: #ECE3CE;
  --dark-bg: #3A4D39;
}

a {
  color: #3A4D39;
}

.login {
  display: flex;
}

.login img {
  height: 20px;
  padding-left: 0.5rem;
}
nav {
  display: flex;
  justify-content: space-between;
}
.zones-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem 0;
 }

.zones {
  display: flex;
  justify-content: space-around;
}
.animals {
  display: flex;
  justify-content: center;
}
.zone, .animal {
  padding: 5rem;
  margin: 1rem;
  border-radius: 1.5rem;
  background-color: var(--main-panel-colour);
  text-align: center;
  font-weight: 700;
  width: 30%;
}
a.zone, a.animal {
  text-decoration: none;
  color: var(--light-bg);
}
.animal-container {
  display: flex;
  justify-content: center;
}
.animal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
  min-width: 15rem;
}
.booking-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 1rem;
}
.bookings {
  justify-content: space-between;
  width: 20rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--main-panel-colour);
  background-color: var(--light-bg);
  border-radius: 1rem;
}
.home-container {
  display: flex;
  justify-content: center;
}
.home-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weather {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
}
.weather-fcst {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.day, .min-temp, .max-temp {
  padding: 0 0.5rem;
}
.day {
  font-weight: bold;
}

#entry {
  box-sizing: border-box;
  background-color: var(--dark-bg);
  padding: 3rem;
  border: 1.5rem;
  border-color: var(--main-text-colour);
  text-align: center;
  border-radius: 1.5rem;
  font-weight: 700;
}
 a#entry {
  color: white;
  text-decoration: none;
}
.error {
  color: red;
}