body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: cornflowerblue;
}

a {
  color: #0051ff;
}

.login {
  display: flex;
}

.login img {
  height: 20px;
  padding-left: 0.5rem;
}
nav {
  display: flex;
  justify-content: space-between;
}