body {
  padding: 50px;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
  color: #4F6F52;
}

a {
  color: #3A4D39;
}

.login {
  display: flex;
}

.login img {
  height: 20px;
  padding-left: 0.5rem;
}
nav {
  display: flex;
  justify-content: space-between;
}
.zones {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.animals {
  display: flex;
  justify-content: center;
  align-content: center;
 
}
.zone, .animal {
  padding: 5rem;
  margin: 1rem;
  border-radius: 1.5rem;
  background-color: #739072;
  text-align: center;
  font-weight: 700;
  width: 30rem;
}
.zone > a, .animal > a {
  text-decoration: none;
}
.animal-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.animal-content {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  min-width: 15rem;
}
.booking-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 1rem;
  
}
.bookings {
  justify-content: space-between;
  width: 20rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #3A4D39;
  background-color: #ECE3CE;
  border-radius: 1rem;
}
.home-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
#entry {
  box-sizing: border-box;
  background-color: #3A4D39;
  padding: 2rem;
  border: 1.5rem;
  border-color: #4F6F52;
  text-align: center;
  border-radius: 1.5rem;
  max-width: 20rem;
  font-weight: 700;
}
#entry > a {
  color: white;
  text-decoration: none;
}